<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
</head>

<body>
<form action="/client" method="post">
    <input type="text" name = "name" value="Вася" placeholder="Имя">
    <input type="text" address = "address" value="lll@FF.COM" placeholder="адрес">
    <input type="text" phone = "phone" value="Вася" placeholder="Имя">
    <input type="submit" value="Сохранить">
</form>

<h4>Список клиентов</h4>
<table style="width: 400px">
    <thead>
        <tr>
            <td style="width: 50px">Список</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>${client}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
